.app_brown_theme {
  --bg-color: #f8fbf4;
  --inverted-bg-color: #7c8d5f;

  --primary-color: #7c8d5f;
  --secondary-color: #736b4e;
  --inverted-primary-color: #f8fbf4;
  --inverted-secondary-color: #736b4e;
}
