.app_dark_theme {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #1add00;
  --secondary-color: #1ca700;
  --inverted-primary-color: #016cde;
  --inverted-secondary-color: #0b0ed8;
}
