.dark {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #23c902;
  --secondary-color: #04c304;
  --inverted-primary-color: #0b0ed8;
  --inverted-secondary-color: #016cde;
}
