:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #020252;

  --primary-color: #0b0ed8;
  --secondary-color: #016cde;
  --inverted-primary-color: #2ac30b;
  --inverted-secondary-color: #04c304;
}
