:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #020252;

  --primary-color: #051eff;
  --secondary-color: #0003b1;
  --inverted-primary-color: #00ca22;
  --inverted-secondary-color: #2ac30b;
}
