:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #020252;

  --primary-color: #0015ce;
  --secondary-color: #030cac;
  --inverted-primary-color: #00ca22;
  --inverted-secondary-color: #2ac30b;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #d4d4d4;

  //card
  --card-bg: #d2d7c7;
}
